<%= content_for :html_title, "#{@author.first_name} #{@author.last_name}" %>
<%= content_for :meta_description, @author.bio %>

<!-- Author name -->
<h2><%= @author.first_name %> <%= @author.last_name %></h2>

<!-- Author profile -->
<% if @author.profile_image %>
  <img src="<%= @author.profile_image %>" />
<% end %>

<p>Title: <%= @author.title %></p>
<p>Bio: <%= @author.bio %></p>

<!-- Recent posts -->
<h4>Recent posts</h4>

<ul>
  <% @author.recent_posts.each do |post| %>
    <li><%= render :partial => 'buttercms/posts/post', :locals => {:post => post} %></li>
  <% end %>
</ul>